@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Size20.Navigation())" Color="Color.Fill"/>
    </label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded"
                       CustomToggle="true">
            <FluentNavLink Href="/" Icon="@(new Size20.Home())"
                           IconColor="Color.Accent">Warehouses
            </FluentNavLink>
            <FluentNavLink Href="items" Icon="@(new Size20.Tag())"
                           IconColor="Color.Accent">Items
            </FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}